* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.backdesign {
    background-color: #34495e;
    height: 80px;
    width: 100%;
}

.backdesign .logo {
    padding: 0px 100px;
    line-height: 80px;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
}

.backdesign ul {
    float: right;
    margin-right: 40px;
}

.backdesign ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 8px;

}

.backdesign ul li a {
    color: #ffffff;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 7px 10px;
    text-transform: uppercase;
}

a:active,
a:hover {
    border-bottom: 1px solid white !important;
    transition: .5s;
}

.backdesign #icon {
    color: #ffffff;
    float: right;
    font-size: 25px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Media Query */
@media (max-width : 992px) {

    html,
    body {
        overflow-x: hidden;
    }

    .backdesign .logo {
        font-size: 25px;
        padding: 0px 32px;
    }

    .backdesign ul {
        margin-right: 20px;
    }

    .backdesign ul li a {
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid transparent;
        padding: 7px 10px;
    }

    .backdesign #icon {
        display: block;
    }

    .backdesign ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    .backdesign ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
        cursor: pointer;
    }

    .backdesign ul li a {
        font-size: 16px;
        cursor: pointer;
    }

    a:active,
    a:hover {
        border-bottom: 1px solid white;
        color: #3498db!important;
    }
    .backdesign ul.show{
        left: 0px;
    }
}