*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
}
.col-50{
    width: 50%!important;
    display: block;
}
.container{
    max-width: 1200px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: Montserrat,sans-serif;
}
p {
    font-family: 'Open Sans',sans-serif;
}

/* NavBar Section */
.topbar{
    background-color: pink;
    height: 70px;
    width: 100%;
}
.topbar .logo{
    font-weight: bold;
    padding: 0 50px;
    margin: 20px 0px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 15px;
}
nav ul li a{
    color: #1a1a1a;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
a.active,a:hover{
    color: #9D9570;
    font-weight: 700;
    transition: .5s;
}
nav #icon{
    color: #000;
    font-size: 25px;
    line-height: 75px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Hero Section */
.herosec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.herosec .col-50 .herocontent{
    padding: 0px 0px 0px 120px;
}
.herosec .col-50 .aboutshop{
    font-size: 1.125rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.herosec .col-50 .aboutbarber{
    font-size: 3.5rem;
    font-weight: 700;
    color: #1a1a1a;
    margin: 20px 0 0;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.herosec .col-50 .h-button{
   color: #ffffff;
   background-color: #000000;
   padding: 20px 47px 20px 46px;
   font-weight: 700;
   font-size: 0.875rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-align: center;
   border-radius: 5px;
}
.herosec .Saloonlogo{
    background-image: url('./Images/barberman.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size:cover;    
}

/* Barber Workers List */
.barber-list{
    background-color: #9D9559;
    width: 100%;
}
.barber-list .banner{
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
   padding: 50px 0px;
}
.barber-list .barber-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px; 
}
.barber-list .barber-names .barber-occupation img{
    width: 100%;
}
.barber-list .barber2-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    column-gap: 20px; 
    padding-bottom: 80px;
}
.barber-list .barber2-names .barber-occupation img{
    width: 100%;
}

/* Services By barber */
.Fullservice{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./Images/grromingstudio.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    height: 785px;
}
.Fullservice .Inner-info{
     position: relative;
     padding: 302px 0 0;
     width: 100%;
}
.Fullservice h1{
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    line-height: 1.1;
}
.Fullservice p{
    font-size: 1.25rem;
    color: #ffffff;
    font-size: 700;
    text-align: center;
    margin: 30px 180px 0px 180px;
    line-height: 1.6;
}
.Fullservice .service-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 35px 180px 0px 180px;
}
.Fullservice .service-layout .viewprice{
    background-color: #ffffff;
    padding: 18px 42px 18px 41px;
    border-radius: 5px;
    border: 2px solid #ffffff;
}
.Fullservice .service-layout .viewprice:hover{
    background-color: #a0c6b9 !important;
    border: 2px solid #a0c6b9;
}
.Fullservice .service-layout .viewprice a{
    color: #111111;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.875rem;
}
.Fullservice .service-layout .booknow{
    border-width: 2px;
    padding: 18px 42px 18px 41px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #ffffff;
}
.Fullservice .service-layout .booknow:hover{
    background-color: #a0c6b9 !important;
    border: 2px solid #a0c6b9;
}
.Fullservice .service-layout .booknow a{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.875rem;
}

/* Contact US */
.ContactUs{
    background-color: #292d33;
}
.ContactUs .ContactArea{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ContactUs .ContactArea .col-50 img{
    height: 660px;
    width: 100%;
}
.ContactUs .ContactArea .col-50 .u-container-layout-2{
     padding: 80px 95px 80px 95px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
}
.ContactUs .ContactArea h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.ContactUs .ContactArea .col-50 .u-form-control-hidden{
    display: none!important;
}
.ContactUs .ContactArea .col-50 input[type="text"]{
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    font-size: 1.0rem;
    outline: none;
    height: 50px;
    border-color: #555c66;
}
.ContactUs .ContactArea .col-50 input[type="email"]{
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    font-size: 1.0rem;
    height: 50px;
    outline: none;
    border-color: #555c66;
}
.ContactUs .ContactArea .col-50 textarea{
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    font-size: 1.0rem;
    outline: none;
    border-color: #555c66;
}
.ContactUs .ContactArea .col-50 input[type="submit"]{
    display: block;
    width: 100%;
    background-color: #9d9570 !important;
    color: #ffffff;
    padding: 15px 12px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-image: none;
    background-clip: padding-box;
    font-size: 1.0rem;
    outline: none;
    border: none;
    border-color: #555c66;
}
.ContactUs .ContactArea .col-50 .contact-umiddlebox{
     margin: 42px 0px 0px;
}
.contact-umiddlebox .u-form-group{
    margin-bottom: 24px;
}

@media(max-width:992px){
    nav #icon{
        display: block;
        margin-right: 24px;
    }
    .topbar .logo{
        width: 130px;
        padding-left: 20px;
    }
    nav ul{
        margin-right: 20px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        left: -100%;
        top: 70px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height:30px;
    }
    nav ul li a {
        font-size: 18px;
    }
    a.active,a:hover{
        color: #9D9570;
    }
    nav .show{
        left: 0;
    }
}